[submodule "NeuraCore-PCB"]
	path = NeuraCore-PCB
	url = https://github.com/NeuraCoreTech/NeuraCore-PCB.git
[submodule "NeuraCore-CNN"]
	path = NeuraCore-CNN
	url = https://github.com/NeuraCoreTech/NeraCore-CNN.git
[submodule "NeuraCore-RTL"]
	path = NeuraCore-RTL
	url = https://github.com/NeuraCoreTech/NeuraCore-RTL.git
